#title {
    color: #009879;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.selected {
    color: rgb(19, 109, 77);
    font-weight: bold;
}

.grid {
    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-columns: repeat(12, 1fr);
    /* grid-gap: 10px; */
    background: rgb(240, 237, 246);
}

.box {
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    padding: 10px;
    background: rgb(240, 237, 246);
    text-align: center;
}

.box:nth-child(1) {
    grid-column: span 12;
    /* font-size: 2vw; */
    /* text-align: right; */
}

.box:nth-child(2),        
.box:nth-child(4),       
.box:nth-child(6),
.box:nth-child(8) {
    grid-column: span 6;
    text-align: right; 
}

.box:nth-child(3),
.box:nth-child(5),
.box:nth-child(7),
.box:nth-child(9) {
    grid-column: span 6;
    text-align: left; 
}

.box:nth-child(10) {
    grid-column: span 6;
    text-align: right;
    margin: 15px;

}

.box:nth-child(11) {
    grid-column: span 6;
    text-align: left; 
    margin: 15px;
}

.add-edit-button {
  background-color: #009879;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-edit-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* .center {
    border: 5px solid #FFFF00;
    text-align: center;
}*/ 

/* .center_table {
    margin-left: auto;
    margin-right: auto;
  } */

/* .grid-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(12, 1fr);
    /* grid-row-gap: 2px;
    grid-column-gap: 5px; */
    /* grid-gap: 10px;
    margin: 25px 0;
    background-color: crimson;
} */


/* .box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8), */
/* .box:nth-child(9) {
    grid-column: span 6;
    background: crimson;
    /* text-align: right; */


/* .grid-item1 {
    grid-column: span 12;
    background-color: rgb(16, 108, 58);
} */

